<ul>
  <li><a href="/patients/1">patient #1</a></li>
  <li><a href="/patients/2">patient #2</a></li>
  <li><a href="/patients/3">patient #3</a></li>
  <li><a href="/patients/4">patient #4</a></li>
</ul>
