<h1><%= @heading%></h1>

<p><b>Summary:</b> The WebP format is another great tool to achieve our goals. With Cloudinary's on-the-fly, cloud-based WebP image format conversion, this becomes much simpler.</p>

<p>Read more at <a href="<%= @link %><%= @link %></a></p>
