<img src="/images/davinci-logo.png">
<H1>
<p>this is page one

<br><br>
<a href="/page2"> goto page two</a>
</H1>
</p>

<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">

<link href='http://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>


